<!DOCTYPE html>
<html>
<body>

<h2>Friendship Meter</h2>

<form action="/" method="post">
  <label for="your_name">Your name:</label><br>
  <input type="text" id="your_name" name="your_name"><br>
  <label for="your_friend_name">Your Friend name:</label><br>
  <input type="text" id="your_friend_name" name="your_friend_name"><br><br>
  <input type="submit" value="Submit">
</form> 

<p>
    Your Name : {{result.your_name}}

    <br>

    Your Friend Name: {{result.your_friend_name}}

    <br>

    Your friendship Meter : {{result.friendship_meter}}
</p>

</body>
</html>